* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
.button-container {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 2rem;
}

button {
  width: 90%;
  margin: 0 auto;
  padding: 1.2rem;
  font-size: 1rem;
  margin-bottom: 2rem;
  border: none;
  margin-right: 2rem;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: ease-in 100ms;
}

button:nth-child(1) {
  background-color: rgb(124, 224, 124);
}
button:nth-child(1):hover {
  background-color: white;
  outline: 2px solid rgb(124, 224, 124);
}

button:nth-child(2) {
  background-color: rgb(114, 231, 231);
}
button:nth-child(2):hover {
  background-color: white;
  outline: 2px solid rgb(114, 231, 231);
}

button:nth-child(3) {
  background-color: rgb(248, 132, 132);
}
button:nth-child(3):hover {
  background-color: white;
  outline: 2px solid rgb(248, 132, 132);
}
button:nth-child(4) {
  background-color: rgb(219, 166, 67);
}
button:nth-child(4):hover {
  background-color: white;
  outline: 2px solid rgb(219, 166, 67);
}
.count-number {
  margin-top: 5rem;
  font-size: 1.3rem;
  opacity: 0.8;
}

.previous-count {
  margin-top: 3rem;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2rem 0;
}

h1 {
  opacity: 0.8;
}

.more-information {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  width: 100%;
  text-align: center;
  gap: 4rem;
  padding: 0 4rem;
  margin-top: 4rem;
}

.info-box {
  border: 1px solid rgb(210, 220, 226);
  border-radius: 1rem;
  padding: 2rem;
}

.click-info {
  margin-top: 1rem;
}

.add-info,
.subtract-info,
.click-info {
  font-size: 1.1rem;
  opacity: 0.8;
}

.click-info-container h4 {
  font-weight: 400;
  font-size: 1.2rem;
  opacity: 0.8;
  margin-bottom: 2rem;
}

.add-info,
.subtract-info {
  height: 100%;
  transform: translateY(35%);
}

.info-box:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor: pointer;
}
